.charts-css {

  &.bar {
    // Shape
    display: block;
    width: 100%;

    caption,
    colgroup,
    thead,
    tfoot {
      display: none;
    }

    // Layout
    tbody {
      display: flex;
      justify-content: space-between;
      align-items: stretch;

      width: 100%;
      height: 100%;

      tr {
        position: relative;

        // Even column size
        flex-grow: 1;
        flex-shrink: 1;
        flex-basis: 0;

        // Display cells in a column
        display: flex;
        justify-content: space-around;

        padding: 0;
        margin: 0;

        td {
          width: calc( 100% * var( --size, 1 ) );
          height: 100%;

          padding: 0;
          margin: 0;

          position: relative; // For tooltips
        }

        th {
          display: flex;
          justify-content: start;
          align-items: center;

          padding: 0;
          margin: 0;

          position: absolute;
          top: 0;
          bottom: 0;
        }

      }
    }

    // Labels Position
    &:not(.labels-after) {
      tbody {
        tr {
          align-items: flex-start;
          margin-inline-start: var( --bar-labels-size );

          th {
            left: calc( -1 * var( --bar-labels-size ) );
            width: var( --bar-labels-size );
          }

          td {
            text-align: end;
          }
        }
      }
    }
    &.labels-after {
      tbody {
        tr {
          align-items: flex-end;
          margin-inline-end: var( --bar-labels-size );

          th {
            right: calc( -1 * var( --bar-labels-size ) );
            width: var( --bar-labels-size );
          }

          td {
            text-align: start;
          }
        }
      }
    }

    // Stacked
    &:not(.stacked) {
      tbody tr {

        td {
          // Even cell size
          flex-grow: 1;
          flex-shrink: 1;
          flex-basis: 0;
        }
      }
    }
    &.multiple.stacked {
      tbody tr {
        flex-direction: row;
        justify-content: start;
        align-items: flex-start;

        td {
          flex-grow: unset;
          flex-shrink: unset;
          flex-basis: unset;
        }
      }
    }

    // Reverse Order
    &:not(.reverse-data) {
      tbody {
        flex-direction: column;
      }
    }
    &.reverse-data {
      tbody {
        flex-direction: column-reverse;
      }
    }
    &:not(.reverse-datasets) {
      tbody tr {
        flex-direction: column;
      }
    }
    &.reverse-datasets {
      tbody tr {
        flex-direction: column-reverse;
      }
    }

    // Spacing
    @for $i from 1 through 20 {
      &.data-spacing-#{$i} {
        tbody tr {
          padding-block-start: #{$i}px;
          padding-block-end: #{$i}px;
        }
      }
    }
    @for $i from 1 through 20 {
      &.datasets-spacing-#{$i} {
        tbody tr td {
          padding-block-start: #{$i}px;
          padding-block-end: #{$i}px;
        }
      }
    }

    // Axes
    &.show-main-axis {
      &:not(.labels-after) {
        tbody tr {
          border-inline-start: var( --main-axis-width ) var( --main-axis-style ) var( --main-axis-color );
        }
      }
      &.labels-after {
        tbody tr {
          border-inline-end: var( --main-axis-width ) var( --main-axis-style ) var( --main-axis-color );
        }
      }
    }
    &.show-x-axes {
      tbody tr {
        border-block-end: var( --axis-width ) var( --axis-style ) var( --axis-color );
      }
      &:not(.reverse) {
        tbody tr:first-of-type {
          border-block-start: var( --axis-width ) var( --axis-style ) var( --axis-color );
        }
      }
      &.reverse {
        tbody tr:last-of-type {
          border-block-start: var( --axis-width ) var( --axis-style ) var( --axis-color );
        }
      }
    }
    @for $i from 1 through $max-items {
      &.show-#{$i}-y-axes {
        &:not(.labels-after) {
          tbody tr {
            background-size: ( 100% / $i ) 100%;
            background-image: linear-gradient( -90deg, var( --axis-color ) var( --axis-width ), transparent var( --axis-width ) );
          }
        }
        &.labels-after {
          tbody tr {
            background-size: ( 100% / $i ) 100%;
            background-image: linear-gradient( 90deg, var( --axis-color ) var( --axis-width ), transparent var( --axis-width ) );
          }
        }
      }
    }

    // Hover
    &.hover {
      tr:hover {
        background-color: var( --tr-hover-color, rgba(0, 0, 0, 0.05) );
      }
      td:hover {
        opacity: .75;
      }
    }

  }

}
