.charts-css {

  &.column {
    // Shape
    display: block;
    width: 100%;
    height: 100%;

    --labels-size: 1.5rem;

    caption,
    colgroup,
    thead,
    tfoot {
      display: none;
    }

    // Layout
    tbody {
      display: flex;
      justify-content: space-between;
      align-items: stretch;

      width: 100%;
      height: 100%;

      tr {
        position: relative;

        // Even row size
        flex-grow: 1;
        flex-shrink: 1;
        flex-basis: 0;
        overflow-wrap: anywhere;

        // Display cells in a row
        display: flex;
        justify-content: space-around;

        padding: 0;
        margin: 0;

        th {
          display: flex;
          align-items: center;

          padding: 0;
          margin: 0;

          position: absolute;
          right: 0;
          left: 0;
        }

        td {
          display: flex;
          justify-content: center;

          width: 100%;
          height: calc( 100% * var( --size, 1 ) );

          padding: 0;
          margin: 0;

          position: relative; // For tooltips
        }

      }
    }

    // Labels Position
    &:not(.labels-before) {
      tbody {
        tr {
          align-items: flex-end;
          margin-block-end: var( --labels-size );

          th {
            bottom: calc( -1 * var( --labels-size ) - var( --primary-axis-width ) );
            height: var( --labels-size );
            justify-content: center;
          }

          td {
            align-items: flex-start;
          }
        }
      }
    }
    &.labels-before {
      tbody {
        tr {
          align-items: flex-start;
          margin-block-start: var( --labels-size );

          th {
            top: calc( -1 * var( --labels-size ) - var( --primary-axis-width ) );
            height: var( --labels-size );
            justify-content: center;
          }

          td {
            align-items: flex-end;
          }
        }
      }
    }
    &.labels-align-start {
      tbody tr th {
        justify-content: flex-start;
      }
    }
    &.labels-align-end {
      tbody tr th {
        justify-content: flex-end;
      }
    }
    &.labels-align-center {
      tbody tr th {
        justify-content: center;
      }
    }

    // Stacked
    &:not(.stacked) {
      tbody tr {

        td {
          // Even cell size
          flex-grow: 1;
          flex-shrink: 1;
          flex-basis: 0;
        }
      }
    }
    &.stacked {
      tbody tr {
        flex-direction: column-reverse;
        justify-content: start;
        align-items: flex-start;

        td {
          flex-grow: unset;
          flex-shrink: unset;
          flex-basis: unset;
        }
      }
    }

    // Reverse Order
    &:not(.reverse-data) {
      tbody {
        flex-direction: row;
      }
    }
    &.reverse-data {
      tbody {
        flex-direction: row-reverse;
      }
    }
    &:not(.reverse-datasets) {
      tbody tr {
        flex-direction: row;
      }
    }
    &.reverse-datasets {
      tbody tr {
        flex-direction: row-reverse;
      }
    }

    // Spacing
    @for $i from 1 through 20 {
      &.data-spacing-#{$i} {
        tbody tr {
          padding-inline-start: #{$i}px;
          padding-inline-end: #{$i}px;
        }
      }
    }
    @for $i from 1 through 20 {
      &.datasets-spacing-#{$i} {
        tbody tr td {
          margin-inline-start: #{$i}px;
          margin-inline-end: #{$i}px;
        }
      }
    }

    // Axes
    &.show-primary-axis {
      &:not(.labels-before) {
        tbody tr {
          border-block-end: var( --primary-axis-width ) var( --primary-axis-style ) var( --primary-axis-color );
        }
      }
      &.labels-before {
        tbody tr {
          border-block-start: var( --primary-axis-width ) var( --primary-axis-style ) var( --primary-axis-color );
        }
      }
    }
    @for $i from 1 through $max-items {
      &.show-#{$i}-secondary-axes {
        &:not(.labels-before) {
          tbody tr {
            background-size: 100% ( 100% / $i );
            background-image: linear-gradient( var( --secondary-axes-color ) var( --secondary-axes-width ), transparent var( --secondary-axes-width ) );
          }
        }
        &.labels-before {
          tbody tr {
            background-size: 100% ( 100% / $i );
            background-image: linear-gradient( 0deg, var( --secondary-axes-color ) var( --secondary-axes-width ), transparent var( --secondary-axes-width ) );
          }
        }
      }
    }
    &.show-data-axes {
      tbody tr {
        border-inline-end: var( --data-axes-width ) var( --data-axes-style ) var( --data-axes-color );
      }
      &:not(.reverse-data) {
        tbody tr:first-of-type {
          border-inline-start: var( --data-axes-width ) var( --data-axes-style ) var( --data-axes-color );
        }
      }
      &.reverse-data {
        tbody tr:last-of-type {
          border-inline-start: var( --data-axes-width ) var( --data-axes-style ) var( --data-axes-color );
        }
      }
    }
    &.show-dataset-axes { // TODO: fix this
      tbody tr td {
        border-inline-end: var( --data-axes-width ) var( --data-axes-style ) var( --data-axes-color );
      }
      &:not(.reverse-data) {
        tbody tr:first-of-type td {
          border-inline-start: var( --data-axes-width ) var( --data-axes-style ) var( --data-axes-color );
        }
      }
      &.reverse-data {
        tbody tr:last-of-type td {
          border-inline-start: var( --data-axes-width ) var( --data-axes-style ) var( --data-axes-color );
        }
      }
    }

    // Hover
    &.hover {
      tr:hover {
        background-color: var( --tr-hover-color, rgba(0, 0, 0, 0.05) );
      }
      td:hover {
        opacity: .75;
      }
    }

  }

}
