.charts-css {

  &.line {
    display: block;
    width: 100%;
    height: 100%;

    colgroup,
    thead,
    tfoot {
      display: none;
    }

    // Layout
    tbody {
      display: block;
      width: 100%;
      height: calc(100% - var(--heading-size));
      background-color: var(--chart-bg-color);

      tr {
        display: none;
      }
    }
  }

}
