.charts-css {

  &.pie {

    colgroup,
    thead,
    tfoot {
      display: none;
    }

    // Layout
    tbody {
      @include circle();

      background-color: var(--chart-bg-color);

      tr {
        display: none;
      }
    }
  }

}
