/*
 * Pie Chart
 */
.charts-css {

  &.pie {

    // Layout
    tbody {
      @include circle();

      background-color: var(--chart-bg-color);

      tr {
        @include visually-hidden();
      }
    }
  }

}
