.charts-css {
  &.polar {
    // Reset
    margin: 0;
    padding: 0;
    border: 0;

    // Shape (circle)
    width: 100%;
    height: 0;
    padding-block-end: 100%; // makes height 100% of the width
    border-radius: 50%;

    // Background
    background-color: var( --chart-bg-color );

    // Axes
    --size: 17.585%;
    background:
      // Circular axes
      repeating-radial-gradient(
        circle at center,
        var( --charts-axes-color ),
        var( --charts-axes-color ) 1px,
        transparent 1px,
        transparent var( --size )
      ),
      // Vertical axe
      linear-gradient(
        transparent calc( 50% - 1px ),
        var( --charts-axes-color ) calc( 50% - 1px ),
        var( --charts-axes-color ) calc( 50% + 1px ),
        transparent calc( 50% + 1px )
      ),
      // Horizontal axe
      linear-gradient(
        90deg,
        transparent calc( 50% - 1px ),
        var( --charts-axes-color ) calc( 50% - 1px ),
        var( --charts-axes-color ) calc( 50% + 1px ),
        transparent calc( 50% + 1px )
      );

    // Data colors
    &:not(:empty) {

      > * {
        @include hide;
      }
    }
  }
}
