/*
 * Polar Chart
 */
.charts-css {

  &.polar {

    // Layout
    tbody {
      @include circle();

      background-color: var(--chart-bg-color);

      tr {
        display: none;
      }
    }
  }

}
