/*
 * Radial Chart
 */
.charts-css {

  &.radial {

    // Layout
    tbody {
      @include circle();

      background-color: var(--chart-bg-color);

      tr {
        @include visually-hidden();
      }
    }
  }

}
