{
  "extends": "stylelint-config-standard",
  "plugins": [
    "stylelint-scss"
  ],
  "rules": {
    "at-rule-no-unknown": null,
    "at-rule-empty-line-before": null,
    "block-closing-brace-empty-line-before": null,
    "no-descending-specificity": null,
    "rule-empty-line-before": null,
    "scss/at-rule-no-unknown": true
  }
}
