{
  "extends": "stylelint-config-standard-scss",
  "rules": {
    "at-rule-empty-line-before": null,
    "custom-property-pattern": "#{",
    "declaration-block-no-redundant-longhand-properties": null,
    "no-descending-specificity": null,
    "no-duplicate-selectors": null,
    "rule-empty-line-before": null,
    "scss/dollar-variable-empty-line-before": null,
    "scss/double-slash-comment-empty-line-before": null
  }
}
