/*
 * Chart heading
 */
.charts-css {

  &:not(.show-heading) {

    caption {
      @include visually-hidden();
    }
  }

  &.show-heading {
    --#{ $variable-prefix }heading-size: 1.5rem;

    caption {
      display: block;
      width: 100%;
      height: var(--#{ $variable-prefix }heading-size);
    }

  }

}
