/*
 * Chart tooltips
 */
.charts-css {

  .tooltip {
    // Position
    position: absolute;
    z-index: 1;
    inset-block-end: 50%;
    inset-inline-start: 50%;
    width: max-content;
    padding: 5px 10px;
    border-radius: 6px;

    // Visibility
    visibility: hidden;
    opacity: 0;
    transition: opacity .3s;
    background-color: #555;
    color: #fff;
    text-align: center;
    font-size: .9rem;

    // translateX for both bar & column chart
    &:dir(ltr) {
      transform: translateX(-50%);
    }
    &:dir(rtl) {
      transform: translateX(50%);
    }

    &::after {
      content: "";
      position: absolute;
      inset-block-start: 100%;
      inset-inline-start: 50%;
      margin-inline-start: -5px;
      border-width: 5px;
      border-style: solid;
      border-color: #555 transparent transparent;
    }
  }

  td:hover {
    .tooltip {
      visibility: visible;
      opacity: 1;
    }
  }
}
