/*
 * Chart tooltips
 */
.charts-css {

  .tooltip {
    // Position
    position: absolute;
    z-index: 1;
    // if --start / --end exist, then it's a line chart, and we calculate
    // the larger of the two to place the tooltip above the line segment;
    // if --start and --end don't exist, fallback to 0.5 * 100% = 50%,
    // which is the default tooltip position for e.g. bar charts
    inset-block-end: calc(max(var(--start, 0.5), var(--end, 0.5)) * 100%);
    inset-inline-start: 50%;
    transform: translateX(-50%); // translateX for both bar & column chart
    width: max-content;
    padding: 5px 10px;
    border-radius: 6px;

    // Visibility
    visibility: hidden;
    opacity: 0;
    transition: opacity .3s;
    background-color: #555;
    color: #fff;
    text-align: center;
    font-size: .9rem;

    // translateX for both bar & column chart
    &:dir(ltr) {
      transform: translateX(-50%);
    }
    &:dir(rtl) {
      transform: translateX(50%);
    }

    &::after {
      content: "";
      position: absolute;
      inset-block-start: 100%;
      inset-inline-start: 50%;
      margin-inline-start: -5px;
      border-width: 5px;
      border-style: solid;
      border-color: #555 transparent transparent;
    }
  }

  td:hover {
    .tooltip {
      visibility: visible;
      opacity: 1;
    }
  }
}
