.charts-css {
  // Reset
  margin: 0;
  padding: 0;
  border: 0;

  // Position
  position: relative;
}

.charts-css,
.charts-css * {
  box-sizing: border-box;
}

ul.charts-css,
ol.charts-css {
  list-style-type: none;
}
