// Hide element visually while keeping it accessible to assistive technologies
//
// See: https://www.a11yproject.com/posts/2013-01-11-how-to-hide-content/
// See: https://hugogiraudel.com/2016/10/13/css-hide-and-seek/
@mixin visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  clip-path: inset(50%);
  white-space: nowrap;
}

@mixin circle {
  display: block;
  width: 100%;
  height: 0;               // old hack for "aspect-ratio"
  padding-block-end: 100%; // makes height 100% of the width
  border-radius: 50%;
  background-color: var(--#{ $variable-prefix }chart-bg-color);
}

@mixin position-fullwidth {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
