@mixin hide {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
}

@mixin circle {
  display: block;
  width: 100%;
  height: 0;               // old hack for "aspect-ratio"
  padding-block-end: 100%; // makes height 100% of the width
  border-radius: 50%;
}
