/*
 * Chart custom properties
 */

// Colors
@property --color,
@property --color-1,
@property --color-2,
@property --color-3,
@property --color-4,
@property --color-5,
@property --color-6,
@property --color-7,
@property --color-8,
@property --color-9,
@property --color-10,
@property --chart-bg-color,
@property --legend-border-color {
  syntax: '<color>';
  initial-value: transparent;
  inherits: true;
}

// Heading
@property --heading-size {
  syntax: '<length>';
  initial-value: 0;
  inherits: true;
}

// Labels
@property --labels-size {
  syntax: '<length>';
  initial-value: 0;
  inherits: true;
}
@property --labels-align {
  syntax: '<string>';
  initial-value: center;
  inherits: true;
}

// Axes
@property --primary-axis-width,
@property --secondary-axes-width,
@property --data-axes-width {
  syntax: '<length>';
  initial-value: 1px;
  inherits: true;
}
@property --primary-axis-style,
@property --secondary-axes-style,
@property --data-axes-style {
  syntax: '<line-style>';
  initial-value: solid;
  inherits: true;
}
@property --primary-axis-color,
@property --secondary-axes-color,
@property --data-axes-color {
  syntax: '<color>';
  initial-value: transparent;
  inherits: true;
}

// Sizes
@property --start,
@property --end,
@property --size,
@property --line-size {
  syntax: '<number>';
  initial-value: 0;
  inherits: true;
}
