$max-items: 10; // The number of available colors

.charts-css {

  // Data Colors (source: https://www.schemecolor.com/rainbow-on-sale.php)
  --color-1: rgba(240, 100, 100, 1);
  --color-2: rgba(255, 200, 100, 1);
  --color-3: rgba(255, 230, 130, 1);
  --color-4: rgba(140, 220, 120, 1);
  --color-5: rgba(130, 190, 255, 1);
  --color-6: rgba(190, 130, 255, 1);
  --color-7: rgba(200, 200, 200, 1);
  --color-8: rgba(150, 150, 150, 1);
  --color-9: rgba(190, 180, 150, 1);
  --color-10: rgba(160, 100, 80, 1);

  // General Colors
  --chart-bg-color: #f5f5f5;

  // Axes
  --primary-axis-color: rgba(0, 0, 0, 1);
  --primary-axis-style: solid;
  --primary-axis-width: 1px;
  --secondary-axes-color: rgba(0, 0, 0, 0.15);
  --secondary-axes-style: solid;
  --secondary-axes-width: 1px;
  --data-axes-color: rgba(0, 0, 0, 0.15);
  --data-axes-style: solid;
  --data-axes-width: 1px;

  // Legend
  --legend-border-color: lightgrey;

  // Donut
  --donut-inner-color: white;
  --donut-inner-size: 50%;

}
